#comments {
	margin-top: 10px;
	h2.comments-title {
		border-bottom: 2px solid #e7e9ee;
		color: #555;
		font-weight: bold;
		margin: 10px auto 20px;
	}
	ol.children {
		margin-left: 20px;
		list-style: none;
	}
	.panel-body{
		a{
			text-decoration: underline;
		}
	}
	#respond {
		margin-left: 60px;
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		margin-bottom: 20px;
		padding: 15px;
		h3 {
			margin-top: 0px;
		}
	}
}