$icomoon-font-path: "../fonts";
$grid-gutter-width: 10px;
$font-size-base: 14px;
$blockquote-font-size: $font-size-base;


@import "bootstrap/bootstrap-povestka";
@import "wordpress";
@import "buddypress/buddypress";

@import "anspress/main";
@import "anspress/fonts";
@import "font-awesome/font-awesome";
@import "bootstrap-social/_bootstrap-social";
@import "wordpress-social-login/style";

@import "povestka";
@import "povestka-place";
@import "povestka-rating";
@import "comments";

@import "bootstrap-datepicker/bootstrap-datepicker3.min";
@import "site-yandex";