/* banner module styles */

.donateHeader {
  * {
    margin: 0;
    padding: 0;
  }
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f6f4f3;
  z-index: 999999;
  -webkit-box-shadow: 0px 1px 8.28px 0.72px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 1px 8.28px 0.72px rgba(0, 0, 0, 0.55);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #31383e;
    text-align: left;
    font-size: 12px;
    padding-left: 15px;
    line-height: 20px;
  }
  .donateHeader__title {
    font-weight: 700;
    width: 75%;
    flex-grow: 1;
  }
}

.donateHeader__goal {
  flex-grow: 1;
}

.donateHeader__title {
  max-height: 20px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 75%;
}

.donateHeader .donateHeader__button {
  background-color: #f26443;
  -webkit-box-shadow: 0px 1px 8.28px 0.72px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 1px 8.28px 0.72px rgba(0, 0, 0, 0.55);
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: center;
  font-weight: 700;
  padding-left: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  width: 25%;
  max-width: 25%;
  height: 40px;
  line-height: 40px;
  &:hover {
    color: #f0f6fb;
    -webkit-box-shadow: inset -3px 3px 5px 0.72px rgba(0, 0, 0, 0.55), inset 3px -3px 5px 0.72px rgba(240, 240, 240, 0.55);
    box-shadow: inset -3px 3px 5px 0.72px rgba(0, 0, 0, 0.55), inset 3px -3px 5px 0.72px rgba(240, 240, 240, 0.55);
    -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
    transition: color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
  &:active {
    color: #f0f6fb;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-box-shadow: inset 3px 3px 8.28px 0.72px rgba(0, 0, 0, 0.55), inset -3px -3px 8.28px 0.72px rgba(200, 200, 200, 0.55);
    box-shadow: inset 3px 3px 8.28px 0.72px rgba(0, 0, 0, 0.55), inset -3px -3px 8.28px 0.72px rgba(200, 200, 200, 0.55);
  }
}

.donateHeader__margin {
  margin-top: 40px;
}

.donateHeader__transform {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

@media all and (min-width: 521px) {
  .donateHeader__margin {
    margin-top: 50px;
  }
  .donateHeader__transform {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  .donateHeader {
    .donateHeader__title {
      line-height: 20px;
      max-height: 20px;
      width: auto;
    }
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    p {
      font-size: 13px;
      line-height: 20px;
    }
    .donateHeader__button {
      height: 50px;
      line-height: 50px;
    }
  }
}

@media all and (min-width: 600px) {
  .donateHeader__margin {
    margin-top: 50px;
  }
  .donateHeader__title {
    line-height: 40px;
    max-height: 40px;
  }
  .donateHeader__transform {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .donateHeader {
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    p {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      padding-left: 15px;
      line-height: 40px;
    }
    .donateHeader__button {
      height: 50px;
      line-height: 50px;
    }
  }
}

@media all and (min-width: 1024px) {
  .donateHeader {
    height: 60px;
  }
  .donateHeader__title {
    line-height: 40px;
    max-height: 40px;
  }
  .donateHeader {
    p {
      font-size: 20.8px;
      padding-left: 35px;
    }
    .donateHeader__button {
      height: 60px;
      line-height: 60px;
    }
  }
  .donateHeader__margin {
    margin-top: 60px;
  }
  .donateHeader__transform {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
  }
}