body {
  #buddypress {
    * a {
      box-shadow: none;
      text-decoration: none;
    }
    div, dl {
      border-radius: 2px;
      background-clip: padding-box;
    }
    input {
      &[type=reset], &[type=search], &[type=submit] {
        border-radius: 2px;
        background-clip: padding-box;
      }
    }
    li, select, textarea {
      border-radius: 2px;
      background-clip: padding-box;
    }
    #item-body blockquote, .bp-lists blockquote {
      margin-left: 0;
    }
    .bp-list .action {
      box-sizing: border-box;
    }
  }
  &.buddypress .buddypress-wrap {
    h1, h2, h3, h4, h5, h6 {
      clear: none;
      margin: 1em 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 46.8em) {
  body.buddypress {
    .entry-content, .entry-header, .site-content .entry-header {
      max-width: none;
    }
    .entry-header, .entry-content {
      float: none;
      max-width: none;
    }
    .site-content {
      padding-top: 2.5em;
    }
    #page #primary {
      max-width: none;
      .entry-content, .entry-header {
        float: none;
        width: auto;
      }
    }
  }
}

.bp-wrap {
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.buddypress-wrap.round-avatars .avatar {
  border-radius: 50%;
}

body.buddypress article.page > .entry-header {
  margin-bottom: 2em;
  padding: 0;
  .entry-title {
    font-size: 28px;
    font-weight: inherit;
    color: #767676;
  }
}

@media screen and (min-width: 46.8em) {
  body.buddypress article.page > .entry-header .entry-title {
    font-size: 34px;
  }
}

.buddypress-wrap {
  dt.section-title {
    font-size: 18px;
  }
  .bp-label-text, .message-threads, .activity-header {
    font-size: 13px;
  }
  .activity-inner {
    font-size: 15px;
  }
  #whats-new-post-in, .acomment-meta, .mini .activity-header {
    font-size: 16px;
  }
  .dir-component-filters #activity-filter-by {
    font-size: 13px;
  }
  .bp-tables-user {
    th {
      font-size: 13px;
    }
    td {
      font-size: 12px;
    }
  }
  .profile-fields {
    th {
      font-size: 15px;
    }
    td {
      font-size: 13px;
    }
  }
  #notification-select {
    font-size: 12px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap dt.section-title {
    font-size: 22px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap {
    .bp-label-text, .message-threads {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .activity-header {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .activity-inner {
    font-size: 18px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .dir-component-filters #activity-filter-by {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .bp-tables-user th {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .bp-tables-user td {
    font-size: 14px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .profile-fields th {
    font-size: 18px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .profile-fields td {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap #notification-select {
    font-size: 14px;
  }
}

.bp-navs {
  background: 0 0;
  clear: both;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      &.last select {
        max-width: 185px;
      }
      a, span {
        border: 0;
        display: block;
        padding: 5px 10px;
        text-decoration: none;
      }
      .count {
        background: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #555;
        display: inline;
        font-size: 12px;
        margin-left: 2px;
        padding: 3px 6px;
        text-align: center;
        vertical-align: middle;
      }
      &.current a, &.selected a {
        color: #333;
        opacity: 1;
      }
    }
  }
  &.bp-invites-filters ul li a, &.bp-messages-filters ul li a {
    border: 1px solid #ccc;
    display: inline-block;
  }
}

.main-navs.dir-navs {
  margin-bottom: 20px;
}

.buddypress-wrap {
  .bp-navs li {
    a:hover a .count, &.current a .count, &.selected a .count {
      background-color: #ccc;
    }
    &:not(.current) a {
      &:focus, &:hover {
        background: #ccc;
        color: #333;
      }
    }
    &:not(.selected) a {
      &:focus, &:hover {
        background: #ccc;
        color: #333;
      }
    }
    &.current a {
      background: #555;
      color: #fafafa;
      &:focus, &:hover {
        background: #555;
        color: #fafafa;
      }
    }
    &.selected a {
      background: #555;
      color: #fafafa;
      &:focus, &:hover {
        background: #555;
        color: #fafafa;
      }
    }
  }
  .bp-subnavs li {
    &.current a, &.selected a {
      background: #fff;
      color: #333;
      font-weight: 600;
    }
  }
  &:not(.bp-single-vert-nav) {
    .main-navs > ul > li > a {
      padding: 0.5em calc(.5em + 2px);
    }
    .group-subnav#subsubnav, .user-subnav#subsubnav {
      background: 0 0;
    }
  }
  .bp-subnavs, ul.subnav {
    width: 100%;
  }
  .bp-subnavs {
    margin: 10px 0;
    overflow: hidden;
    ul li {
      margin-top: 0;
      &.current {
        :focus, :hover {
          background: 0 0;
          color: #333;
        }
      }
      &.selected {
        :focus, :hover {
          background: 0 0;
          color: #333;
        }
      }
    }
  }
  ul.subnav {
    width: auto;
  }
  .bp-navs {
    &.bp-invites-filters#subsubnav ul li.last, &.bp-invites-nav#subnav ul li.last, &.bp-messages-filters#subsubnav ul li.last {
      margin-top: 0;
    }
    li {
      &.current a .count, &.selected a .count {
        background-color: #fff;
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap {
    .main-navs {
      &:not(.dir-navs) li {
        &.current a, &.selected a {
          background: #fff;
          color: #333;
          font-weight: 600;
        }
      }
      &.vertical li {
        &.current a, &.selected a {
          background: #555;
          color: #fafafa;
          text-decoration: none;
        }
      }
    }
    &.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      box-shadow: 0 2px 12px 0 #fafafa;
    }
  }
}

@media screen and (max-width: 46.8em) {
  .buddypress-wrap:not(.bp-single-vert-nav) .bp-navs li {
    background: #eaeaea;
  }
}

@media screen and (max-width: 46.8em) {
  .buddypress-wrap {
    .single-screen-navs {
      border: 1px solid #eee;
      li {
        border-bottom: 1px solid #eee;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .bp-subnavs li {
      a {
        font-size: 14px;
      }
      &.current a {
        background: #555;
        color: #fff;
        &:focus, &:hover {
          background: #555;
          color: #fff;
        }
      }
      &.selected a {
        background: #555;
        color: #fff;
        &:focus, &:hover {
          background: #555;
          color: #fff;
        }
      }
    }
  }
}

.buddypress_object_nav .bp-navs li {
  &.current a .count, &.selected a .count {
    background-color: #fff;
  }
}

.buddypress-wrap .bp-navs li.dynamic {
  a .count, &.current a .count, &.selected a .count {
    background-color: #5087e5;
    border: 0;
    color: #fafafa;
  }
}

.buddypress_object_nav .bp-navs li.dynamic {
  a .count, &.current a .count, &.selected a .count {
    background-color: #5087e5;
    border: 0;
    color: #fafafa;
  }
}

.buddypress-wrap .bp-navs li.dynamic a:hover .count, .buddypress_object_nav .bp-navs li.dynamic a:hover .count {
  background-color: #5087e5;
  border: 0;
  color: #fff;
}

.buddypress-wrap .bp-navs li a .count:empty, .buddypress_object_nav .bp-navs li a .count:empty {
  display: none;
}

.buddypress-wrap .bp-navs.group-create-links ul li:not(.current), .buddypress_object_nav .bp-navs.group-create-links ul li:not(.current), .buddypress-wrap .bp-navs.group-create-links ul li:not(.current) a, .buddypress_object_nav .bp-navs.group-create-links ul li:not(.current) a {
  color: #767676;
}

.buddypress-wrap .bp-navs.group-create-links ul li:not(.current) a {
  &:focus, &:hover {
    background: 0 0;
    color: #333;
  }
}

.buddypress_object_nav .bp-navs.group-create-links ul li:not(.current) a {
  &:focus, &:hover {
    background: 0 0;
    color: #333;
  }
}

.buddypress-wrap .bp-navs.group-create-links ul li:not(.current) a[disabled] {
  &:focus, &:hover {
    color: #767676;
  }
}

.buddypress_object_nav .bp-navs.group-create-links ul li:not(.current) a[disabled] {
  &:focus, &:hover {
    color: #767676;
  }
}

.buddypress-wrap .bp-navs.group-create-links ul li.current a {
  text-align: center;
}

.buddypress_object_nav .bp-navs {
  &.group-create-links ul li.current a {
    text-align: center;
  }
  li a .count {
    display: inline-block;
    float: right;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap {
    .bp-navs li, .subnav {
      float: left;
    }
    ul.subnav {
      width: auto;
    }
    #subsubnav {
      .activity-search {
        float: left;
      }
      .filter {
        float: right;
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .bp-dir-vert-nav .bp-navs.dir-navs {
    background: 0 0;
    a .count {
      float: right;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap {
    .tabbed-links {
      ol, ul {
        border-bottom: 1px solid #ccc;
        float: none;
        margin: 20px 0 10px;
      }
      ol {
        &:after, &:before {
          content: " ";
          display: block;
        }
      }
      ul {
        &:after, &:before {
          content: " ";
          display: block;
        }
      }
      ol:after, ul:after {
        clear: both;
      }
      ol li, ul li {
        float: left;
        list-style: none;
        margin: 0 10px 0 0;
      }
      ol li {
        a, span:not(.count) {
          background: 0 0;
          border: none;
          display: block;
          padding: 4px 10px;
        }
      }
      ul li {
        a, span:not(.count) {
          background: 0 0;
          border: none;
          display: block;
          padding: 4px 10px;
        }
      }
      ol li a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      ul li a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      ol li:not(.current), ul li:not(.current) {
        margin-bottom: 2px;
      }
      ol li.current, ul li.current {
        border-color: #ccc #ccc #fff;
        border-style: solid;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-width: 1px;
        margin-bottom: -1px;
        padding: 0 .5em 1px;
      }
      ol li.current a, ul li.current a {
        background: 0 0;
        color: #333;
      }
    }
    .bp-subnavs.tabbed-links > ul {
      margin-top: 0;
    }
    .bp-navs.tabbed-links {
      background: 0 0;
      margin-top: 2px;
      ul li {
        a {
          border-right: 0;
          font-size: inherit;
        }
        &.last {
          float: right;
          margin: 0;
          a {
            margin-top: -.5em;
          }
        }
        a {
          background: 0 0;
          border: 0;
          &:focus, &:hover {
            background: 0 0;
            border: 0;
          }
        }
        &.current a {
          background: 0 0;
          border: 0;
          &:focus, &:hover {
            background: 0 0;
            border: 0;
          }
        }
        a:active, &.current a:active {
          outline: 0;
        }
      }
    }
  }
}

.buddypress-wrap {
  .dir-component-filters .filter label {
    display: inline;
  }
  .subnav-filters {
    &:after, &:before {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    background: 0 0;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    div {
      margin: 0;
    }
    > ul {
      float: left;
      list-style: none;
    }
    &.bp-messages-filters {
      ul {
        width: 100%;
      }
      .messages-search {
        margin-bottom: 1em;
      }
    }
    div {
      float: none;
      input[type=search], select {
        font-size: 16px;
      }
      button {
        &.nouveau-search-submit {
          padding: 5px .8em 6px;
        }
        &#user_messages_search_submit {
          padding: 7px .8em;
        }
      }
    }
    .component-filters {
      margin-top: 10px;
    }
    .feed {
      margin-right: 15px;
    }
    .last.filter label {
      display: inline;
    }
    .user-messages-bulk-actions {
      .bulk-actions-wrap {
        &:after, &:before {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
        &.bp-show {
          display: inline-block;
        }
        &.bp-hide {
          display: none;
        }
      }
      .select-wrap {
        border: 0;
        &:focus, &:hover {
          outline: 1px solid #d6d6d6;
        }
      }
      .bulk-actions {
        float: left;
      }
      label {
        display: inline-block;
        font-weight: 300;
        margin-right: 25px;
        padding: 5px 0;
      }
      div select {
        -webkit-appearance: textfield;
      }
      .bulk-apply {
        border: 0;
        border-radius: none;
        font-weight: 400;
        line-height: 1.8;
        margin: 0 0 0 10px;
        padding: 3px 5px;
        text-align: center;
        text-transform: none;
        width: auto;
        span {
          vertical-align: middle;
        }
      }
    }
  }
  .notifications-options-nav input#notification-bulk-manage {
    border: 0;
    border-radius: 0;
    line-height: 1.6;
  }
  .group-subnav-filters {
    .group-invites-search {
      margin-bottom: 1em;
    }
    .last {
      text-align: center;
    }
  }
  .bp-pagination {
    background: 0 0;
    border: 0;
    color: #767676;
    float: left;
    font-size: small;
    margin: 0;
    padding: .5em 0;
    position: relative;
    width: 100%;
    .pag-count {
      float: left;
    }
    .bp-pagination-links {
      float: right;
      margin-right: 10px;
      a, span {
        font-size: small;
        padding: 0 5px;
      }
      a {
        &:focus, &:hover {
          opacity: 1;
        }
      }
    }
    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .subnav-filters.bp-messages-filters .messages-search {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 32em) {
  .buddypress-wrap .subnav-filters {
    li {
      margin-bottom: 0;
    }
    .bp-search, .dir-search, .feed, .group-act-search, .group-invites-search {
      float: left;
    }
    .subnav-search {
      float: left;
      form {
        float: left;
      }
    }
    .user-messages-bulk-actions, .user-messages-search {
      float: left;
    }
    .component-filters, .last {
      float: right;
      margin-top: 0;
      width: auto;
    }
    .component-filters select, .last select {
      max-width: 250px;
    }
    .user-messages-search {
      float: right;
    }
  }
}

.bp-list {
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  box-sizing: border-box;
  border-top: 1px solid #eaeaea;
  clear: both;
  list-style: none;
  margin: 20px 0;
  padding: .5em 0;
  width: 100%;
  li {
    &:after, &:before {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    list-style: none;
    margin: 10px 0;
    padding: .5em 0;
    position: relative;
    .item-avatar {
      text-align: center;
      img.avatar {
        display: inline;
      }
    }
    .item {
      .group-details, .item-avatar, .item-meta {
        text-align: center;
      }
      .list-title {
        text-align: center;
        clear: none;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.1;
        margin: 0 auto;
      }
    }
    .item-meta, .meta {
      color: #737373;
      font-size: 12px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .last-post {
      text-align: center;
    }
    .action {
      margin: 0;
      text-align: center;
      .generic-button {
        display: inline-block;
        font-size: 12px;
        margin: 0 10px 0 0;
      }
      div.generic-button {
        margin: 10px 0;
      }
    }
  }
  > li {
    border-bottom: 1px solid #eaeaea;
  }
}

@media screen and (min-width: 46.8em) {
  .bp-list li .item .list-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 46.8em) {
  .bp-list li {
    .item-avatar {
      float: left;
      margin-right: 5%;
    }
    .item {
      margin: 0;
      overflow: hidden;
      .item-block {
        float: left;
        margin-right: 2%;
        width: 50%;
      }
      .item-meta, .list-title {
        float: left;
        text-align: left;
      }
      .group-details, .last-post {
        text-align: left;
      }
    }
    .group-desc, .last-post, .user-update {
      clear: none;
      overflow: hidden;
      width: auto;
    }
    .action {
      clear: left;
      padding: 0;
      text-align: left;
      li.generic-button {
        margin-right: 0;
      }
      div.generic-button {
        margin: 0 0 10px;
      }
    }
    .generic-button {
      display: block;
      margin: 0 0 5px 0;
    }
  }
}

@media screen and (min-width: 32em) {
  #activity-stream {
    clear: both;
    padding-top: 1em;
  }
}

.activity-list.bp-list {
  background: #fafafa;
  border: 1px solid #eee;
  .activity-item {
    background: #fff;
    border: 1px solid #b7b7b7;
    box-shadow: 0 0 6px #d2d2d2;
    margin: 20px 0;
  }
  li:first-child {
    margin-top: 0;
  }
}

.friends-list {
  list-style-type: none;
}

.friends-request-list .item-title, .membership-requests-list .item-title {
  text-align: center;
}

@media screen and (min-width: 46.8em) {
  .friends-request-list li, .membership-requests-list li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .friends-request-list li .item, .membership-requests-list li .item {
    -moz-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .friends-request-list li .action, .membership-requests-list li .action {
    text-align: right;
  }
  .friends-request-list li .item-title, .membership-requests-list li .item-title {
    font-size: 22px;
    text-align: left;
  }
  .friends-request-list li .item-title h3, .membership-requests-list li .item-title h3 {
    margin: 0;
  }
}

#notifications-user-list {
  clear: both;
  padding-top: 1em;
}

@media screen and (min-width: 46.8em) {
  body:not(.logged-in) .bp-list .item {
    margin-right: 0;
  }
}

.activity-permalink .item-list {
  border: 0;
  li.activity-item {
    border: 0;
  }
}

.activity-update-form {
  padding: 10px 10px 0;
}

.item-body .activity-update-form .activity-form {
  margin: 0;
  padding: 0;
}

.activity-update-form {
  border: 1px solid #ccc;
  box-shadow: inset 0 0 6px #eee;
  margin: 15px 0;
  #whats-new-avatar {
    margin: 10px 0;
    text-align: center;
    img {
      box-shadow: none;
      display: inline-block;
    }
  }
  #whats-new-content {
    padding: 0 0 20px 0;
  }
  #whats-new-textarea textarea {
    background: #fff;
    box-sizing: border-box;
    color: #333;
    font-family: inherit;
    font-size: medium;
    height: 2.2em;
    line-height: 1.4;
    padding: 6px;
    width: 100%;
    &:focus {
      box-shadow: 0 0 6px 0 #d6d6d6;
    }
  }
  #whats-new-post-in-box {
    margin: 10px 0;
    #whats-new-post-in-box-items {
      list-style: none;
      margin: 10px 0;
      li {
        margin-bottom: 10px;
      }
      #activity-autocomplete {
        padding: .3em;
      }
      .bp-activity-object {
        display: flex;
        align-items: center;
        padding: .2em;
        .avatar {
          width: 30px;
        }
        span {
          padding-left: 10px;
          vertical-align: middle;
        }
        &:focus, &:hover {
          background: #eaeaea;
          cursor: pointer;
        }
        &.selected {
          border: 1px solid #d6d6d6;
        }
      }
    }
  }
  #whats-new-submit {
    margin: 15px 0 10px;
    input {
      font-size: 14px;
      line-height: inherit;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: .2em 0;
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .activity-update-form {
    #whats-new-avatar {
      display: block;
      float: left;
      margin: 0;
    }
    #whats-new-content, #whats-new-post-in-box {
      margin-left: 8.5%;
    }
    #whats-new-submit {
      margin-left: 8.5%;
      input {
        margin-bottom: 0;
        margin-right: 10px;
        width: 8em;
      }
    }
  }
}

.activity-list {
  padding: .5em;
  .activity-item {
    &:after, &:before {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    list-style: none;
    padding: 1em;
    &.has-comments {
      padding-bottom: 1em;
    }
    div.item-avatar {
      margin: 0 auto;
      text-align: center;
      width: auto;
      img {
        height: auto;
        max-width: 40%;
      }
    }
    &.mini {
      font-size: 13px;
      position: relative;
      .activity-avatar {
        margin-left: 0 auto;
        text-align: center;
        width: auto;
        img {
          &.FB_profile_pic, &.avatar {
            max-width: 15%;
          }
        }
      }
    }
    &.new_forum_post .activity-inner, &.new_forum_topic .activity-inner {
      border-left: 2px solid #eaeaea;
      margin-left: 10px;
      padding-left: 1em;
    }
    &.newest_blogs_activity, &.newest_friends_activity, &.newest_groups_activity, &.newest_mentions_activity {
      background: rgba(31, 179, 221, 0.1);
    }
    .activity-inreplyto {
      color: #767676;
      font-size: 13px;
      > p {
        display: inline;
        margin: 0;
      }
      .activity-inner, blockquote {
        background: 0 0;
        border: 0;
        display: inline;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }
    }
    .activity-header {
      margin: 0 auto;
      width: 80%;
      a, img {
        display: inline;
      }
      .avatar {
        display: inline-block;
        margin: 0 5px;
        vertical-align: bottom;
      }
      .time-since {
        font-size: 14px;
        color: #767676;
        text-decoration: none;
        &:hover {
          color: #767676;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .activity-content {
      .activity-header, .comment-header {
        color: #767676;
        margin-bottom: 10px;
      }
      .activity-inner, blockquote {
        background: #fafafa;
        margin: 15px 0 10px;
        overflow: hidden;
        padding: 1em;
      }
      p {
        margin: 0;
      }
    }
    .activity-inner p {
      word-wrap: break-word;
    }
    .activity-read-more {
      margin-left: 1em;
      white-space: nowrap;
    }
    ul.activity-meta {
      margin: 0;
      padding-left: 0;
      li {
        border: 0;
        display: inline-block;
      }
    }
    .activity-meta.action {
      border: 1px solid transparent;
      background: #fafafa;
      padding: 2px;
      position: relative;
      text-align: left;
      div.generic-button {
        margin: 0;
      }
      .button {
        background: 0 0;
      }
      a {
        padding: 4px 8px;
      }
      .button {
        &:focus, &:hover {
          background: 0 0;
        }
        &:before {
          font-family: dashicons;
          font-size: 18px;
          vertical-align: middle;
        }
      }
      .icons:before {
        font-family: dashicons;
        font-size: 18px;
        vertical-align: middle;
      }
      .acomment-reply.button:before {
        content: "\f101";
      }
      .view:before {
        content: "\f125";
      }
      .fav:before {
        content: "\f154";
      }
      .unfav:before {
        content: "\f155";
      }
      .delete-activity {
        &:before {
          content: "\f153";
        }
        &:hover {
          color: #800;
        }
      }
      .button {
        border: 0;
        box-shadow: none;
        span {
          background: 0 0;
          color: #555;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .activity-list .activity-item div.item-avatar {
    margin: 0 2% 0 0;
    text-align: left;
    width: 15%;
    img {
      max-width: 80%;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .activity-list .activity-item.mini .activity-avatar {
    margin-left: 15px;
    text-align: left;
    width: 15%;
    img {
      &.FB_profile_pic, &.avatar {
        max-width: 60%;
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .activity-list {
    &.bp-list {
      padding: 30px;
    }
    .activity-item {
      .activity-content {
        margin: 0;
        position: relative;
        &:after {
          clear: both;
          content: "";
          display: table;
        }
      }
      .activity-header {
        margin: 0 15px 0 0;
        width: auto;
      }
    }
  }
}

.buddypress-wrap .activity-list {
  .load-more, .load-newest {
    background: #fafafa;
    border: 1px solid #eee;
    font-size: 110%;
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }
  .load-more a, .load-newest a {
    color: #555;
    display: block;
    padding: .5em 0;
  }
  .load-more a {
    &:focus, &:hover {
      background: #fff;
      color: #333;
    }
  }
  .load-newest a {
    &:focus, &:hover {
      background: #fff;
      color: #333;
    }
  }
  .load-more {
    &:focus, &:hover {
      border-color: #e1e1e1;
      box-shadow: 0 0 6px 0 #eaeaea;
    }
  }
  .load-newest {
    &:focus, &:hover {
      border-color: #e1e1e1;
      box-shadow: 0 0 6px 0 #eaeaea;
    }
  }
}

body.activity-permalink .activity-list {
  li {
    border-width: 1px;
    padding: 1em 0 0 0;
    &:first-child {
      padding-top: 0;
    }
    &.has-comments {
      padding-bottom: 0;
    }
  }
  .activity-avatar {
    width: auto;
    a {
      display: block;
    }
    img {
      max-width: 100%;
    }
  }
  .activity-content {
    border: 0;
    font-size: 100%;
    line-height: 1.5;
    padding: 0;
    .activity-header {
      margin: 0;
      padding: .5em 0 0 0;
      text-align: center;
      width: 100%;
    }
    .activity-inner, blockquote {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .activity-meta {
    margin: 10px 0 10px;
  }
  .activity-comments {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 46.8em) {
  body.activity-permalink .activity-list {
    .activity-avatar {
      left: -20px;
      margin-right: 0;
      position: relative;
      top: -20px;
    }
    .activity-content {
      margin-right: 10px;
      .activity-header p {
        text-align: left;
      }
    }
  }
}

.buddypress-wrap {
  .activity-comments {
    clear: both;
    margin: 0 5%;
    overflow: hidden;
    position: relative;
    width: auto;
    ul {
      clear: both;
      list-style: none;
      margin: 15px 0 0;
      padding: 0;
      li {
        border-top: 1px solid #eee;
        border-bottom: 0;
        padding: 1em 0 0;
        ul {
          margin-left: 5%;
        }
        &:first-child {
          border-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    div.acomment-avatar {
      width: auto;
      img {
        border-width: 1px;
        float: left;
        height: 25px;
        max-width: none;
        width: 25px;
      }
    }
    .acomment-content p {
      font-size: 14px;
    }
    .acomment-meta {
      font-size: 14px;
      color: #555;
      overflow: hidden;
      padding-left: 2%;
    }
    .acomment-content {
      border-left: 1px solid #ccc;
      margin: 15px 0 0 10%;
      padding: .5em 1em;
      p {
        margin-bottom: .5em;
      }
    }
    .acomment-options {
      float: left;
      margin: 10px 0 10px 20px;
      a {
        color: #767676;
        font-size: 14px;
        &:focus, &:hover {
          color: inherit;
        }
      }
    }
    .activity-meta.action {
      background: 0 0;
      margin-top: 10px;
      button {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
      }
    }
    .show-all button {
      font-size: 14px;
      text-decoration: underline;
      padding-left: .5em;
      span {
        text-decoration: none;
      }
      &:focus span, &:hover span {
        color: #5087e5;
      }
    }
  }
  .mini .activity-comments {
    clear: both;
    margin-top: 0;
  }
}

body.activity-permalink .activity-comments {
  background: 0 0;
  width: auto;
  > ul {
    padding: 0 .5em 0 1em;
  }
  ul li > ul {
    margin-top: 10px;
  }
}

form.ac-form {
  display: none;
  padding: 1em;
  .ac-reply-avatar {
    float: left;
    img {
      border: 1px solid #eee;
    }
  }
  .ac-reply-content {
    color: #767676;
    padding-left: 1em;
    a {
      text-decoration: none;
    }
    .ac-textarea {
      margin-bottom: 15px;
      padding: 0 .5em;
      overflow: hidden;
      textarea {
        background: 0 0;
        box-shadow: none;
        color: #555;
        font-family: inherit;
        font-size: 100%;
        height: 60px;
        margin: 0;
        outline: 0;
        padding: .5em;
        width: 100%;
        &:focus {
          box-shadow: 0 0 6px #d6d6d6;
        }
      }
    }
    input {
      margin-top: 10px;
    }
  }
}

.activity-comments {
  li form.ac-form {
    clear: both;
    margin-right: 15px;
  }
  form.root {
    margin-left: 0;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .blogs-list li {
    .item-block {
      float: none;
      width: auto;
    }
    .item-meta {
      clear: left;
      float: none;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .bp-dir-vert-nav .blogs-list .list-title {
    width: auto;
  }
}

.buddypress-wrap {
  .groups-list li {
    .list-title {
      text-align: center;
    }
    .group-details {
      clear: left;
    }
    .group-desc {
      border: 1px solid #eaeaea;
      border-radius: 10px;
      background-clip: padding-box;
      font-size: 13px;
      color: #737373;
      font-style: italic;
      margin: 10px auto 0;
      padding: 1em;
    }
    p {
      margin: 0 0 .5em;
    }
    &.group-no-avatar div.group-desc {
      margin-left: 0;
    }
  }
  .mygroups .groups-list.grid .wrap {
    min-height: 450px;
    padding-bottom: 0;
  }
  .members-list li {
    .member-name {
      margin-bottom: 10px;
    }
    .user-update {
      border: 1px solid #eaeaea;
      border-radius: 10px;
      background-clip: padding-box;
      color: #737373;
      font-style: italic;
      font-size: 13px;
      margin: 15px auto;
      padding: 1em;
      .activity-read-more {
        display: block;
        font-size: 12px;
        font-style: normal;
        margin-top: 10px;
        padding-left: 2px;
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .groups-list li .group-desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .groups-list li {
    .item {
      margin-right: 0;
    }
    .item-meta, .list-title {
      text-align: left;
      width: auto;
    }
    .item-meta {
      margin-bottom: 20px;
    }
    .last-activity {
      clear: left;
      margin-top: -20px;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .groups-list.grid {
    &.four .group-desc, &.three .group-desc {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress .bp-vertical-navs .groups-list .item-avatar {
    margin-right: 3%;
    width: 15%;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .members-list li .user-update {
    font-size: 16px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .members-list li .last-activity {
    clear: left;
    margin-top: -10px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .members-group-list li .joined {
    clear: left;
    float: none;
  }
}

@media screen and (min-width: 32em) {
  body:not(.logged-in) .members-list .user-update {
    width: 96%;
  }
}

.register-page {
  .register-section {
    box-sizing: border-box;
  }
  .signup-form {
    margin-top: 20px;
    .default-profile input {
      margin-bottom: 20px;
    }
    label, legend {
      margin: 10px 0 0;
    }
    .editfield {
      margin: 15px 0;
      fieldset {
        border: 0;
        padding: 0;
        legend {
          margin: 0 0 5px;
          text-indent: 0;
        }
      }
      .field-visibility-settings {
        padding: .5em;
        fieldset {
          margin: 0 0 10px;
        }
      }
    }
    #signup-avatar img {
      margin: 0 15px 10px 0;
    }
    .password-entry, .password-entry-confirm {
      border: 1px solid #eee;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .register-page {
    .layout-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      .default-profile {
        flex: 1;
        padding-right: 2em;
      }
      .blog-details {
        flex: 1;
        padding-left: 2em;
      }
    }
    .submit {
      clear: both;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap.extended-default-reg .register-page {
    .default-profile {
      flex: 1;
      padding-right: 1em;
    }
    .extended-profile {
      flex: 2;
      padding-left: 1em;
    }
    .blog-details {
      flex: 1 100%;
    }
  }
}

#group-create-body {
  padding: .5em;
  .creation-step-name {
    text-align: center;
  }
  .avatar-nav-items {
    margin-top: 15px;
  }
}

.single-headers {
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  margin-bottom: 15px;
  #item-header-avatar a {
    display: block;
    text-align: center;
    img {
      float: none;
    }
  }
  div#item-header-content {
    float: none;
  }
  .activity {
    display: inline;
  }
  .group-status {
    display: inline;
    font-size: 18px;
    color: #333;
    padding-right: 1em;
  }
  .activity {
    display: inline-block;
    font-size: 12px;
    padding: 0;
  }
  #sitewide-notice p, div#message p {
    background-color: #ffd;
    border: 1px solid #cb2;
    color: #440;
    font-weight: 400;
    margin-top: 3px;
    text-decoration: none;
  }
  h2 {
    line-height: 1.2;
    margin: 0 0 5px;
    a {
      color: #767676;
      text-decoration: none;
    }
    span.highlight {
      display: inline-block;
      font-size: 60%;
      font-weight: 400;
      line-height: 1.7;
      vertical-align: middle;
      span {
        background: #a1dcfa;
        color: #fff;
        cursor: pointer;
        font-size: 80%;
        font-weight: 700;
        margin-bottom: 2px;
        padding: 1px 4px;
        position: relative;
        right: -2px;
        top: -2px;
        vertical-align: middle;
      }
    }
  }
  img.avatar {
    float: left;
    margin: 0 15px 19px 0;
  }
  .item-meta {
    color: #767676;
    font-size: 14px;
    margin: 15px 0 5px;
    padding-bottom: .5em;
  }
  ul {
    margin-bottom: 15px;
    li {
      float: right;
      list-style: none;
    }
  }
  div.generic-button {
    text-align: center;
  }
  li.generic-button {
    display: inline-block;
    text-align: center;
  }
  a.button, div.generic-button {
    margin: 10px 10px 0 0;
  }
  li.generic-button {
    margin: 2px 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  div#message.info {
    line-height: .8;
  }
}

@media screen and (min-width: 46.8em) {
  .single-headers {
    #item-header-avatar a {
      text-align: left;
      img {
        float: left;
      }
    }
    #item-header-content {
      padding-left: 2em;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .single-headers {
    a.button, div.generic-button, li.generic-button {
      float: left;
    }
  }
}

body.no-js .single-item-header .js-self-profile-button {
  display: none;
}

#cover-image-container {
  position: relative;
}

#header-cover-image {
  background-color: #c5c5c5;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#item-header-cover-image {
  position: relative;
  z-index: 2;
  #item-header-avatar {
    padding: 0 1em;
  }
}

.groups-header {
  .bp-group-type-list {
    margin: 0;
  }
  .bp-feedback {
    clear: both;
  }
  .group-item-actions {
    float: left;
    margin: 0 0 15px 15px;
    padding-top: 0;
    width: 100%;
  }
  .moderators-lists {
    margin-top: 0;
    .moderators-title {
      font-size: 14px;
    }
    .user-list {
      margin: 0 0 5px;
      ul:after {
        clear: both;
        content: "";
        display: table;
      }
      li {
        display: inline-block;
        float: none;
        margin-left: 4px;
        padding: 4px;
      }
    }
    img.avatar {
      box-shadow: none;
      float: none;
      height: 30px;
      margin: 0;
      max-width: 100%;
      width: 30px;
    }
  }
  .desc-wrap {
    background: #eaeaea;
    border: 1px solid #d6d6d6;
    margin: 0 0 15px;
    padding: 1em;
    text-align: center;
    .group-description {
      background: #fafafa;
      box-shadow: inset 0 0 9px #ccc;
      padding: 1em;
      text-align: left;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .groups-header {
    div#item-header-content {
      float: left;
      margin-left: 10%;
      text-align: left;
      padding-top: 15px;
      width: 42%;
    }
    .group-item-actions {
      float: right;
      margin: 0 0 15px 15px;
      text-align: right;
      width: 20%;
    }
    .groups-meta {
      clear: both;
    }
  }
}

.bp-user {
  .users-header .user-nicename {
    margin-bottom: 5px;
  }
  .member-header-actions {
    overflow: hidden;
    * > * {
      display: block;
    }
  }
}

.buddypress-wrap {
  .item-body {
    margin: 20px 0;
    .screen-heading {
      font-size: 20px;
      font-weight: 400;
    }
    .button-tabs {
      margin: 30px 0 15px;
    }
  }
  &.bp-single-vert-nav .bp-list:not(.grid) .item-entry {
    padding-left: .5em;
  }
}

.single-item.group-members .item-body .filters {
  &:not(.no-subnav) {
    border-top: 5px solid #eaeaea;
    padding-top: 1em;
  }
  margin-top: 0;
}

.buddypress-wrap .group-status-type ul {
  margin: 0 0 20px 20px;
}

.groups-manage-members-list {
  padding: .5em 0;
  dd {
    margin: 0;
    padding: 1em 0;
  }
  .section-title {
    background: #eaeaea;
    padding-left: .3em;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      padding: .5em .3em .3em;
      &:last-child, &:only-child {
        border-bottom: 0;
      }
      &:nth-child(even) {
        background: #fafafa;
      }
      &.banned-user {
        background: #fad3d3;
      }
    }
    .member-name {
      margin-bottom: 0;
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 20%;
    }
    .members-manage-buttons {
      &:after, &:before {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      margin: 15px 0 5px;
      a.button {
        color: #767676;
        display: block;
        font-size: 13px;
      }
      &.text-links-list {
        margin-bottom: 0;
      }
    }
    .action:not(.text-links-list) a.button {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 32em) {
  .groups-manage-members-list ul {
    .member-name {
      text-align: left;
    }
    img {
      display: inline;
      width: 50px;
    }
  }
}

@media screen and (min-width: 32em) {
  .groups-manage-members-list ul .members-manage-buttons a.button {
    display: inline-block;
  }
}

@media screen and (max-width: 32em) {
  .groups-manage-members-list ul .members-manage-buttons.text-links-list a.button {
    background: #fafafa;
    border: 1px solid #eee;
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 46.8em) {
  .groups-manage-members-list ul li {
    .avatar, .member-name {
      float: left;
    }
    .avatar {
      margin-right: 15px;
    }
    .action {
      clear: both;
      float: left;
    }
  }
}

.buddypress {
  .bp-invites-content {
    ul.item-list {
      border-top: 0;
      li {
        border: 1px solid #eaeaea;
        margin: 0 0 1%;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;
        .list-title {
          margin: 0 auto;
          width: 80%;
        }
        .action {
          position: absolute;
          top: 10px;
          right: 10px;
          a.button.invite-button {
            border: 0;
            &:focus, &:hover {
              color: #1fb3dd;
            }
          }
        }
        &.selected {
          box-shadow: inset 0 0 12px 0 rgba(237, 187, 52, 0.2);
        }
      }
    }
    .group-inviters li, .item-list .item-meta span {
      color: #767676;
    }
    li {
      ul.group-inviters {
        clear: both;
        margin: 0;
        overflow: hidden;
        li {
          border: 0;
          float: left;
          font-size: 20px;
          width: inherit;
        }
      }
      .status {
        font-size: 20px;
        font-style: italic;
        clear: both;
        color: #555;
        margin: 10px 0;
      }
    }
    #send-invites-editor {
      ul {
        &:after, &:before {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
      }
      textarea {
        width: 100%;
      }
      ul {
        clear: both;
        list-style: none;
        margin: 10px 0;
        li {
          float: left;
          margin: .5%;
          max-height: 50px;
          max-width: 50px;
        }
      }
      #bp-send-invites-form {
        clear: both;
        margin-top: 10px;
      }
      .action {
        margin-top: 10px;
        padding-top: 10px;
      }
      &.bp-hide {
        display: none;
      }
    }
  }
  &.groups .activity-update-form {
    margin-top: 0;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress .bp-invites-content ul.item-list {
    > li {
      box-sizing: border-box;
      border: 1px solid #eaeaea;
      float: left;
      padding-left: .5em;
      padding-right: .5em;
      width: 49.5%;
      &:nth-child(odd) {
        margin-right: .5%;
      }
      &:nth-child(even) {
        margin-left: .5%;
      }
    }
    ul.group-inviters {
      float: left;
      width: auto;
    }
  }
}

@media screen and (min-width: 46.8em) {
  :not(.vertical) + .item-body #group-invites-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% auto;
    grid-template-columns: 25% auto;
    grid-template-areas: "group-invites-nav group-invites-column";
    .bp-invites-nav {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: group-invites-nav;
      li {
        display: block;
        float: none;
      }
    }
    .group-invites-column {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: group-invites-column;
    }
  }
}

.buddypress-wrap {
  .profile {
    margin-top: 30px;
  }
  .public .profile-fields td.label {
    width: 30%;
  }
  .profile.edit {
    .button-nav {
      list-style: none;
      margin: 30px 0 10px;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          font-size: 18px;
        }
      }
    }
    .editfield {
      background: #fafafa;
      border: 1px solid #eee;
      margin: 15px 0;
      padding: 1em;
      fieldset {
        border: 0;
        label {
          font-weight: 400;
          &.xprofile-field-label {
            display: inline;
          }
        }
      }
      display: flex;
      flex-direction: column;
      .description {
        margin-top: 10px;
        order: 2;
      }
      > fieldset {
        order: 1;
      }
      .field-visibility-settings, .field-visibility-settings-toggle {
        order: 3;
      }
    }
  }
}

body.no-js .buddypress-wrap {
  .field-visibility-settings-close, .field-visibility-settings-toggle {
    display: none;
  }
  .field-visibility-settings {
    display: block;
  }
}

.buddypress-wrap {
  .field-visibility-settings {
    margin: 10px 0;
  }
  .current-visibility-level {
    font-style: normal;
    font-weight: 700;
  }
  .field-visibility-settings, .field-visibility-settings-header {
    color: #737373;
  }
  .field-visibility-settings fieldset {
    margin: 5px 0;
  }
  .standard-form {
    .editfield fieldset {
      margin: 0;
    }
    .field-visibility-settings {
      label {
        font-weight: 400;
        margin: 0;
      }
      .radio {
        list-style: none;
        margin-bottom: 0;
      }
      .field-visibility-settings-close {
        font-size: 12px;
      }
    }
    .wp-editor-container {
      border: 1px solid #dedede;
      textarea {
        background: #fff;
        width: 100%;
      }
    }
    .description {
      background: #fafafa;
      font-size: inherit;
    }
    .field-visibility-settings legend {
      font-style: italic;
    }
    .field-visibility-settings-header {
      font-style: italic;
      font-size: 14px;
    }
    .field-visibility-settings {
      label, legend {
        font-size: 14px;
      }
    }
    .field-visibility select {
      margin: 0;
    }
  }
  .html-active button.switch-html, .tmce-active button.switch-tmce {
    background: #f5f5f5;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .profile.public .profile-group-title {
    border-bottom: 1px solid #ccc;
  }
}

body.register .buddypress-wrap .page ul {
  list-style: none;
}

.buddypress-wrap .profile .bp-avatar-nav {
  margin-top: 20px;
}

.message-action-delete:before, .message-action-star:before, .message-action-unstar:before, .message-action-view:before {
  font-family: dashicons;
  font-size: 18px;
}

.message-action-star:before {
  color: #aaa;
  content: "\f154";
}

.message-action-unstar:before {
  color: #fcdd77;
  content: "\f155";
}

.message-action-view:before {
  content: "\f473";
}

.message-action-delete {
  &:before {
    content: "\f153";
  }
  &:hover:before {
    color: #a00;
  }
}

.preview-content .actions a {
  text-decoration: none;
}

.bp-messages-content {
  margin: 15px 0;
  .avatar {
    box-shadow: none;
  }
  .thread-participants {
    list-style: none;
    dd {
      margin-left: 0;
    }
  }
  time {
    color: #737373;
    font-size: 12px;
  }
}

#message-threads {
  border-top: 1px solid #eaeaea;
  clear: both;
  list-style: none;
  margin: 0;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  li {
    border-bottom: 1px solid #eaeaea;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0;
    overflow: hidden;
    padding: .5em 0;
    .thread-cb {
      display: flex;
      align-items: center;
      -moz-flex: 1 2 5%;
      -o-flex: 1 2 5%;
      flex: 1 2 5%;
    }
    .thread-from, .thread-to {
      -moz-flex: 1 2 20%;
      -o-flex: 1 2 20%;
      flex: 1 2 20%;
    }
    .thread-from img.avatar, .thread-to img.avatar {
      float: left;
      margin: 0 10px 0 0;
    }
    .thread-from .user-name, .thread-to .user-name {
      display: inline-block;
      line-height: 1.1;
    }
    .thread-from .num-recipients, .thread-to .num-recipients {
      color: #737373;
      font-weight: 400;
      font-size: 12px;
      margin: 0;
    }
    .thread-content {
      -moz-flex: 1 2 60%;
      -o-flex: 1 2 60%;
      flex: 1 2 60%;
    }
    .thread-date {
      -moz-flex: 1 2 15%;
      -o-flex: 1 2 15%;
      flex: 1 2 15%;
    }
    &.selected {
      background-color: #fafafa;
      .thread-subject .subject {
        color: #5087e5;
      }
    }
    &.unread {
      font-weight: 700;
    }
    .thread-content {
      .excerpt {
        color: #737373;
        font-size: 12px;
        margin: 0;
      }
      .thread-from, .thread-subject, .thread-to {
        font-size: 13px;
      }
      .thread-subject {
        vertical-align: top;
        .excerpt {
          font-weight: 400;
        }
      }
    }
    .thread-date {
      padding-right: 5px;
      text-align: right;
    }
  }
}

@media screen and (min-width: 46.8em) {
  #message-threads li .thread-content {
    .thread-from, .thread-subject, .thread-to {
      font-size: 16px;
    }
  }
}

.bp-messages-content {
  .actions {
    float: right;
    max-width: 30%;
    .bp-icons:not(.bp-hide) {
      display: inline-block;
      margin: 0;
      padding: .3em .5em;
      &:before {
        font-size: 26px;
      }
    }
  }
  #thread-preview {
    border: 1px solid #eaeaea;
    margin-top: 20px;
    .preview-message {
      overflow: hidden;
    }
    .preview-content {
      margin: .5em;
      .preview-message {
        background: #fafafa;
        margin: 10px 0;
        padding: 1em .3em .3em;
      }
    }
  }
  #bp-message-thread-list {
    border-top: 1px solid #eaeaea;
    clear: both;
    list-style: none;
    padding: 1em 0 .3em;
    li {
      padding: .5em;
      &:nth-child(2n) .message-content {
        background: #fafafa;
      }
    }
    .message-metadata {
      border-bottom: 1px solid #ccc;
      box-shadow: -2px 1px 9px 0 #eee;
      display: table;
      padding: .2em;
      width: 100%;
      .avatar {
        width: 30px;
      }
      .user-link {
        display: block;
        font-size: 13px;
        float: left;
      }
      time {
        color: #737373;
        font-size: 12px;
        padding: 0 .5em;
      }
      button {
        padding: 0 .3em;
        &:before {
          font-size: 20px;
        }
      }
    }
    .message-content {
      overflow: hidden;
      margin: 1em auto 0;
      width: 90%;
    }
    img.avatar {
      float: left;
      margin: 0 10px 0 0;
    }
    .actions a:before {
      font-size: 18px;
    }
  }
  form.send-reply .avatar-box {
    padding: .5em 0;
  }
  .preview-pane-header, .single-message-thread-header {
    border-bottom: 1px solid #eaeaea;
  }
  .preview-pane-header:after, .single-message-thread-header:after {
    clear: both;
    content: "";
    display: table;
  }
  .preview-thread-title, .single-thread-title {
    font-size: 16px;
  }
  .preview-thread-title .messages-title, .single-thread-title .messages-title {
    padding-left: 2em;
  }
  .thread-participants {
    float: left;
    margin: 5px 0;
    width: 70%;
    dd {
      margin-bottom: 10px;
    }
    ul {
      margin-bottom: 10px;
      list-style: none;
      &:after {
        clear: both;
        content: "";
        display: table;
      }
    }
    li {
      float: left;
      margin-left: 5px;
    }
    img {
      width: 30px;
    }
  }
  #bp-message-thread-list li .message-content {
    blockquote, ol, ul {
      list-style-position: inside;
      margin-left: 0;
    }
  }
  #thread-preview {
    .preview-message {
      blockquote, ol, ul {
        list-style-position: inside;
        margin-left: 0;
      }
    }
    &:empty {
      display: none;
    }
  }
  ul#message-threads:empty {
    display: none;
  }
  #bp-message-thread-header h2:first-child, #thread-preview h2:first-child {
    background-color: #eaeaea;
    color: #555;
    font-weight: 700;
    margin: 0;
    padding: .5em;
  }
  #bp-message-thread-list li a.user-link, #message-threads .thread-content a {
    border: 0;
    text-decoration: none;
  }
  .standard-form #subject {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 46.8em) {
  .bp-messages-content #bp-message-thread-list .message-metadata .user-link {
    font-size: 16px;
  }
}

div.bp-navs#subsubnav.bp-messages-filters .user-messages-bulk-actions {
  margin-right: 15px;
  max-width: 42.5%;
}

.buddypress.settings .profile-settings.bp-tables-user select {
  width: 100%;
}

.buddypress-wrap {
  #whats-new-post-in-box select, .filter select {
    border: 1px solid #d6d6d6;
  }
  input.action[disabled] {
    cursor: pointer;
    opacity: .4;
  }
  #notification-bulk-manage[disabled] {
    display: none;
  }
  fieldset legend {
    font-size: inherit;
    font-weight: 600;
  }
  input {
    &[type=email]:focus, &[type=password]:focus, &[type=tel]:focus, &[type=text]:focus, &[type=url]:focus {
      box-shadow: 0 0 8px #eaeaea;
    }
  }
  textarea:focus {
    box-shadow: 0 0 8px #eaeaea;
  }
  select {
    height: auto;
  }
  textarea {
    resize: vertical;
  }
  .standard-form {
    .bp-controls-wrap {
      margin: 1em 0;
    }
    .groups-members-search input {
      &[type=search], &[type=text] {
        background: #fafafa;
        border: 1px solid #d6d6d6;
        border-radius: 0;
        font: inherit;
        font-size: 100%;
        padding: .5em;
      }
    }
    [data-bp-search] input {
      &[type=search], &[type=text] {
        background: #fafafa;
        border: 1px solid #d6d6d6;
        border-radius: 0;
        font: inherit;
        font-size: 100%;
        padding: .5em;
      }
    }
    input {
      &[type=color], &[type=date], &[type=datetime-local], &[type=datetime], &[type=email], &[type=month], &[type=number], &[type=password], &[type=range], &[type=search], &[type=tel], &[type=text], &[type=time], &[type=url], &[type=week] {
        background: #fafafa;
        border: 1px solid #d6d6d6;
        border-radius: 0;
        font: inherit;
        font-size: 100%;
        padding: .5em;
      }
    }
    select, textarea {
      background: #fafafa;
      border: 1px solid #d6d6d6;
      border-radius: 0;
      font: inherit;
      font-size: 100%;
      padding: .5em;
    }
    input[required], select[required], textarea[required] {
      box-shadow: none;
      border-width: 2px;
      outline: 0;
    }
    input[required]:invalid, select[required]:invalid, textarea[required]:invalid {
      border-color: #b71717;
    }
    input[required]:valid, select[required]:valid, textarea[required]:valid {
      border-color: #91cc2c;
    }
    input[required]:focus, select[required]:focus, textarea[required]:focus {
      border-color: #d6d6d6;
      border-width: 1px;
    }
    input.invalid[required], select.invalid[required], textarea.invalid[required] {
      border-color: #b71717;
    }
    input:not(.button-small), textarea {
      width: 100%;
    }
    input {
      &[type=checkbox], &[type=radio] {
        margin-right: 5px;
        width: auto;
      }
    }
    select {
      padding: 3px;
    }
    textarea {
      height: 120px;
      &#message_content {
        height: 200px;
      }
    }
    input {
      &[type=password] {
        margin-bottom: 5px;
      }
      &:focus {
        background: #fafafa;
        color: #555;
        outline: 0;
      }
    }
    select:focus, textarea:focus {
      background: #fafafa;
      color: #555;
      outline: 0;
    }
    label, span.label {
      display: block;
      font-weight: 600;
      margin: 15px 0 5px;
      width: auto;
    }
    a.clear-value {
      display: block;
      margin-top: 5px;
      outline: 0;
    }
    .submit {
      clear: both;
      padding: 15px 0 0;
    }
    p.submit {
      margin-bottom: 0;
    }
    div.submit input {
      margin-right: 15px;
    }
    #invite-list label {
      font-weight: 400;
      margin: auto;
    }
    p {
      label {
        font-weight: 400;
        margin: auto;
      }
      &.description {
        color: #737373;
        margin: 5px 0;
      }
    }
    div {
      &.checkbox label:nth-child(n+2), &.radio div label {
        color: #737373;
        font-size: 100%;
        font-weight: 400;
        margin: 5px 0 0;
      }
    }
    &#send-reply textarea {
      width: 97.5%;
    }
    &#sidebar-login-form {
      label {
        margin-top: 5px;
      }
      input {
        &[type=password], &[type=text] {
          padding: 4px;
          width: 95%;
        }
      }
    }
    &.profile-edit input:focus {
      background: #fff;
    }
    .bp-tables-user label {
      margin: 0;
    }
  }
  .signup-form {
    label, legend {
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .standard-form {
    .left-menu {
      float: left;
    }
    #invite-list ul {
      list-style: none;
      margin: 1%;
      li {
        margin: 0 0 0 1%;
      }
    }
    .main-column {
      margin-left: 190px;
      ul#friend-list {
        clear: none;
        float: left;
        h4 {
          clear: none;
        }
      }
    }
  }
}

body.no-js .buddypress {
  #delete_inbox_messages, #delete_sentbox_messages, #message-type-select, #messages-bulk-management #select-all-messages, #notifications-bulk-management #select-all-notifications, label[for=message-type-select] {
    display: none;
  }
}

.buddypress-wrap {
  .wp-editor-wrap {
    .wp-editor-wrap {
      button {
        padding: 0 8px 1px;
      }
      input {
        &[type=button], &[type=submit] {
          padding: 0 8px 1px;
        }
      }
    }
    a.button, input[type=reset] {
      padding: 0 8px 1px;
    }
  }
  .select-wrap {
    border: 1px solid #eee;
    label {
      display: inline;
    }
    select {
      &::-ms-expand {
        display: none;
      }
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 0;
      cursor: pointer;
      margin-right: -25px;
      padding: 6px 25px 6px 10px;
      position: relative;
      text-indent: -2px;
      z-index: 1;
      width: 100%;
      background: 0 0;
      &:active, &:focus {
        background: 0 0;
      }
    }
    span.select-arrow {
      display: inline-block;
      position: relative;
      z-index: 0;
      &:before {
        color: #ccc;
        content: "\25BC";
      }
    }
    &:focus .select-arrow:before, &:hover .select-arrow:before {
      color: #a6a6a6;
    }
  }
  .bp-search form {
    &:focus, &:hover {
      border: 1px solid #d5d4d4;
      box-shadow: inset 0 0 3px #eee;
    }
  }
  .select-wrap {
    &:focus, &:hover {
      border: 1px solid #d5d4d4;
      box-shadow: inset 0 0 3px #eee;
    }
  }
  .bp-dir-search-form {
    content: " ";
    display: table;
  }
  .bp-messages-search-form {
    &:after, &:before {
      content: " ";
      display: table;
    }
  }
  .bp-dir-search-form, .bp-messages-search-form:after {
    clear: both;
  }
  form {
    &.bp-dir-search-form, &.bp-invites-search-form, &.bp-messages-search-form {
      border: 1px solid #eee;
      width: 100%;
    }
    &.bp-dir-search-form label, &.bp-invites-search-form label, &.bp-messages-search-form label {
      margin: 0;
    }
    &.bp-dir-search-form {
      button[type=submit] {
        background: 0 0;
        border: 0;
        border-radius: 0;
        background-clip: padding-box;
      }
      input {
        &[type=search], &[type=text] {
          background: 0 0;
          border: 0;
          border-radius: 0;
          background-clip: padding-box;
        }
      }
    }
    &.bp-invites-search-form {
      button[type=submit] {
        background: 0 0;
        border: 0;
        border-radius: 0;
        background-clip: padding-box;
      }
      input {
        &[type=search], &[type=text] {
          background: 0 0;
          border: 0;
          border-radius: 0;
          background-clip: padding-box;
        }
      }
    }
    &.bp-messages-search-form {
      button[type=submit] {
        background: 0 0;
        border: 0;
        border-radius: 0;
        background-clip: padding-box;
      }
      input {
        &[type=search], &[type=text] {
          background: 0 0;
          border: 0;
          border-radius: 0;
          background-clip: padding-box;
        }
      }
    }
    &.bp-dir-search-form input {
      &[type=search], &[type=text] {
        float: left;
        line-height: 1.5;
        padding: 3px 10px;
        width: 80%;
      }
    }
    &.bp-invites-search-form input {
      &[type=search], &[type=text] {
        float: left;
        line-height: 1.5;
        padding: 3px 10px;
        width: 80%;
      }
    }
    &.bp-messages-search-form input {
      &[type=search], &[type=text] {
        float: left;
        line-height: 1.5;
        padding: 3px 10px;
        width: 80%;
      }
    }
    &.bp-dir-search-form button[type=submit], &.bp-invites-search-form button[type=submit], &.bp-messages-search-form button[type=submit] {
      float: right;
      font-size: inherit;
      font-weight: 400;
      line-height: 1.5;
      padding: 3px .7em;
      text-align: center;
      text-transform: none;
      width: 20%;
    }
    &.bp-dir-search-form button[type=submit] span, &.bp-invites-search-form button[type=submit] span, &.bp-messages-search-form button[type=submit] span {
      font-family: dashicons;
      font-size: 18px;
      line-height: 1.6;
    }
    &.bp-dir-search-form button[type=submit].bp-show, &.bp-invites-search-form button[type=submit].bp-show, &.bp-messages-search-form button[type=submit].bp-show {
      height: auto;
      left: 0;
      overflow: visible;
      position: static;
      top: 0;
    }
    &.bp-dir-search-form input[type=search]::-webkit-search-cancel-button, &.bp-invites-search-form input[type=search]::-webkit-search-cancel-button, &.bp-messages-search-form input[type=search]::-webkit-search-cancel-button {
      -webkit-appearance: searchfield-cancel-button;
    }
    &.bp-dir-search-form input[type=search] {
      &::-webkit-search-results-button, &::-webkit-search-results-decoration {
        display: none;
      }
    }
    &.bp-invites-search-form input[type=search] {
      &::-webkit-search-results-button, &::-webkit-search-results-decoration {
        display: none;
      }
    }
    &.bp-messages-search-form input[type=search] {
      &::-webkit-search-results-button, &::-webkit-search-results-decoration {
        display: none;
      }
    }
  }
  ul.filters li form label input {
    line-height: 1.4;
    padding: .1em .7em;
  }
  .current-member-type {
    font-style: italic;
  }
  .dir-form {
    clear: both;
  }
}

@media screen and (min-width: 32em) {
  .buddypress-wrap .notifications-options-nav .select-wrap {
    float: left;
  }
}

@media screen and (min-width: 55em) {
  .buddypress-wrap form {
    &.bp-dir-search-form, &.bp-invites-search-form, &.bp-messages-search-form {
      width: 15em;
    }
  }
}

.budypress.no-js form.bp-dir-search-form button[type=submit] {
  height: auto;
  left: 0;
  overflow: visible;
  position: static;
  top: 0;
}

.bp-user [data-bp-search] form input {
  &[type=search], &[type=text] {
    padding: 6px 10px 7px;
  }
}

.buddypress-wrap {
  .bp-tables-user {
    width: 100%;
  }
  table {
    &.forum, &.wp-profile-fields {
      width: 100%;
    }
  }
  .bp-tables-user thead tr {
    background: 0 0;
    border-bottom: 2px solid #ccc;
  }
  table {
    &.forum thead tr, &.wp-profile-fields thead tr {
      background: 0 0;
      border-bottom: 2px solid #ccc;
    }
  }
  .bp-tables-user tbody tr {
    background: #fafafa;
  }
  table {
    &.forum tbody tr, &.wp-profile-fields tbody tr {
      background: #fafafa;
    }
  }
  .bp-tables-user tr {
    td, th {
      padding: .5em;
      vertical-align: middle;
    }
  }
  table {
    &.forum tr {
      td, th {
        padding: .5em;
        vertical-align: middle;
      }
    }
    &.wp-profile-fields tr {
      td, th {
        padding: .5em;
        vertical-align: middle;
      }
    }
  }
  .bp-tables-user tr td.label {
    border-right: 1px solid #eaeaea;
    font-weight: 600;
    width: 25%;
  }
  table {
    &.forum tr td.label, &.wp-profile-fields tr td.label {
      border-right: 1px solid #eaeaea;
      font-weight: 600;
      width: 25%;
    }
  }
  .bp-tables-user tr.alt td {
    background: #fafafa;
  }
  table {
    &.wp-profile-fields tr.alt td {
      background: #fafafa;
    }
    &.profile-fields {
      .data {
        padding: .5em 1em;
      }
      tr:last-child {
        border-bottom: none;
      }
    }
    &.notifications {
      td {
        padding: 1em .5em;
      }
      .bulk-select-all {
        width: 7%;
      }
      .bulk-select-check {
        width: 7%;
        vertical-align: middle;
      }
      .date, .notification-description, .notification-since, .title {
        width: 39%;
      }
      .actions, .notification-actions {
        width: 15%;
      }
    }
    &.notification-settings th.title, &.profile-settings th.title {
      width: 80%;
    }
    &.notifications .notification-actions a {
      &.delete, &.mark-read {
        display: inline-block;
      }
    }
    &.notification-settings {
      margin-bottom: 15px;
      text-align: left;
    }
  }
  #groups-notification-settings {
    margin-bottom: 0;
  }
  table {
    &.notification-settings {
      td:first-child, th.icon {
        display: none;
      }
    }
    &.notifications {
      td:first-child, th.icon {
        display: none;
      }
    }
    &.notification-settings {
      .no, .yes {
        text-align: center;
        width: 40px;
        vertical-align: middle;
      }
    }
    &#message-threads {
      clear: both;
      .thread-info {
        min-width: 40%;
        p {
          margin: 0;
          &.thread-excerpt {
            color: #737373;
            font-size: 12px;
            margin-top: 3px;
          }
        }
      }
    }
    &.profile-fields {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin: 0;
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}

.bp-screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.clearfix {
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.center-vert {
  display: flex;
  align-items: center;
}

.bp-hide {
  display: none;
}

.bp-show {
  height: auto;
  left: 0;
  overflow: visible;
  position: static;
  top: 0;
}

.buddypress {
  .buddypress-wrap {
    .activity-read-more a, .comment-reply-link, .generic-button a {
      background: #fff;
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      color: #555;
      cursor: pointer;
      font-size: inherit;
      font-weight: 400;
      outline: 0;
      padding: .3em .5em;
      text-align: center;
      text-decoration: none;
      width: auto;
    }
    a {
      &.bp-title-button, &.button {
        background: #fff;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        cursor: pointer;
        font-size: inherit;
        font-weight: 400;
        outline: 0;
        padding: .3em .5em;
        text-align: center;
        text-decoration: none;
        width: auto;
      }
    }
//    button {
//      background: #fff;
//      border-color: #ccc;
//      border-style: solid;
//      border-width: 1px;
//      color: #555;
//      cursor: pointer;
//      font-size: inherit;
//      font-weight: 400;
//      outline: 0;
//      padding: .3em .5em;
//      text-align: center;
//      text-decoration: none;
//      width: auto;
//    }
    input {
      &[type=button], &[type=reset], &[type=submit] {
        background: #fff;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        cursor: pointer;
        font-size: inherit;
        font-weight: 400;
        outline: 0;
        padding: .3em .5em;
        text-align: center;
        text-decoration: none;
        width: auto;
      }
    }
    ul.button-nav:not(.button-tabs) li a {
      background: #fff;
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      color: #555;
      cursor: pointer;
      font-size: inherit;
      font-weight: 400;
      outline: 0;
      padding: .3em .5em;
      text-align: center;
      text-decoration: none;
      width: auto;
    }
    .button-small[type=button] {
      padding: 0 8px 1px;
    }
    .activity-read-more a {
      &:focus, &:hover {
        background: #ededed;
        border-color: #999;
        color: #333;
        outline: 0;
        text-decoration: none;
      }
    }
    .button-nav li {
      a {
        &:focus, &:hover {
          background: #ededed;
          border-color: #999;
          color: #333;
          outline: 0;
          text-decoration: none;
        }
      }
      &.current a {
        background: #ededed;
        border-color: #999;
        color: #333;
        outline: 0;
        text-decoration: none;
      }
    }
    .comment-reply-link {
      &:focus, &:hover {
        background: #ededed;
        border-color: #999;
        color: #333;
        outline: 0;
        text-decoration: none;
      }
    }
    .generic-button a {
      &:focus, &:hover {
        background: #ededed;
        border-color: #999;
        color: #333;
        outline: 0;
        text-decoration: none;
      }
    }
    a.button {
      &:focus, &:hover {
        background: #ededed;
        border-color: #999;
        color: #333;
        outline: 0;
        text-decoration: none;
      }
    }
//    button {
//      &:focus, &:hover {
//        background: #ededed;
//        border-color: #999;
//        color: #333;
//        outline: 0;
//        text-decoration: none;
//      }
//    }
    input {
      &[type=button] {
        &:focus, &:hover {
          background: #ededed;
          border-color: #999;
          color: #333;
          outline: 0;
          text-decoration: none;
        }
      }
      &[type=reset] {
        &:focus, &:hover {
          background: #ededed;
          border-color: #999;
          color: #333;
          outline: 0;
          text-decoration: none;
        }
      }
      &[type=submit] {
        &:focus, &:hover {
          background: #ededed;
          border-color: #999;
          color: #333;
          outline: 0;
          text-decoration: none;
        }
      }
    }
    a.disabled {
      border-color: #eee;
      color: #767676;
      cursor: default;
    }
    button {
      &.disabled, &.pending {
        border-color: #eee;
        color: #767676;
        cursor: default;
      }
    }
    div.pending a {
      border-color: #eee;
      color: #767676;
      cursor: default;
    }
    input {
      &[type=button] {
        &.disabled, &.pending {
          border-color: #eee;
          color: #767676;
          cursor: default;
        }
      }
      &[type=reset] {
        &.disabled, &.pending {
          border-color: #eee;
          color: #767676;
          cursor: default;
        }
      }
      &[type=submit] {
        &.pending, &[disabled=disabled] {
          border-color: #eee;
          color: #767676;
          cursor: default;
        }
      }
    }
    a.disabled:hover {
      border-color: #eee;
      color: #767676;
    }
    button {
      &.disabled:hover, &.pending:hover {
        border-color: #eee;
        color: #767676;
      }
    }
    div.pending a:hover {
      border-color: #eee;
      color: #767676;
    }
    input {
      &[type=button]:hover {
        &.disabled, &.pending {
          border-color: #eee;
          color: #767676;
        }
      }
      &[type=reset]:hover {
        &.disabled, &.pending {
          border-color: #eee;
          color: #767676;
        }
      }
      &[type=submit]:hover {
        &.disabled, &.pending {
          border-color: #eee;
          color: #767676;
        }
      }
    }
    button.text-button, input.text-button {
      background: 0 0;
      border: 0;
      box-shadow: none;
      color: #767676;
    }
    button.text-button.small, input.text-button.small {
      font-size: 13px;
    }
    button.text-button {
      &:focus, &:hover {
        background: 0 0;
        text-decoration: underline;
      }
    }
    input.text-button {
      &:focus, &:hover {
        background: 0 0;
        text-decoration: underline;
      }
    }
    .activity-list a.button {
      border: none;
    }
    .bp-invites-content ul.bp-list li {
      a {
        &.invite-button:hover {
          color: #1fb3dd;
        }
        &.group-remove-invite-button:hover, &.invite-button:hover {
          color: #a00;
        }
      }
      &.selected a {
        &.group-remove-invite-button:hover, &.invite-button:hover {
          color: #a00;
        }
      }
    }
    #item-buttons:empty {
      display: none;
    }
    input:disabled {
      &:focus, &:hover {
        background: 0 0;
      }
    }
    .text-links-list a {
      &.button {
        background: 0 0;
        border: none;
        border-right: 1px solid #eee;
        color: #737373;
        display: inline-block;
        padding: .3em 1em;
        &:visited {
          color: #d6d6d6;
        }
        &:focus, &:hover {
          color: #5087e5;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
      }
    }
    .bp-list.grid .action {
      a, button {
        border: 1px solid #ccc;
        display: block;
        margin: 0;
      }
      a {
        &:focus, &:hover {
          background: #ededed;
        }
      }
      button {
        &:focus, &:hover {
          background: #ededed;
        }
      }
    }
  }
  #buddypress {
    .create-button {
      background: 0 0;
      text-align: center;
      a {
        &:focus, &:hover {
          text-decoration: underline;
        }
        border: 1px solid #ccc;
        border-radius: 5px;
        background-clip: padding-box;
        box-shadow: inset 0 0 6px 0 #eaeaea;
        margin: .2em 0;
        width: auto;
        &:focus, &:hover {
          background: 0 0;
          border-color: #ccc;
          box-shadow: inset 0 0 12px 0 #eaeaea;
        }
      }
    }
    &.bp-dir-hori-nav .create-button {
      float: left;
      a {
        background: 0 0;
        border: 0;
        box-shadow: none;
        margin: 0;
        &:hover {
          background: 0 0;
          border: 0;
          box-shadow: none;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress #buddypress .create-button {
    float: right;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress #buddypress.bp-dir-vert-nav .create-button {
    float: none;
    padding-top: 2em;
    a {
      margin-right: .5em;
    }
  }
}

.buddypress-wrap {
  button {
    &.ac-reply-cancel {
      background: 0 0;
      border: 0;
    }
    &.bp-icons {
      background: 0 0;
      border: 0;
      &:focus, &:hover {
        background: 0 0;
      }
    }
    &.ac-reply-cancel {
      &:focus, &:hover {
        background: 0 0;
        text-decoration: underline;
      }
    }
  }
  .bp-invites-content li .invite-button span.icons:before, .bp-invites-filters .invite-button span.icons:before, .bp-messages-filters li a.messages-button:before, .feed a:before, .filter label:before {
    font-family: dashicons;
    font-size: 18px;
  }
  .bp-invites-content .item-list li .invite-button span.icons:before {
    font-size: 27px;
  }
  .bp-list a.button.invite-button {
    &:focus, &:hover {
      background: 0 0;
    }
  }
  .filter label:before {
    content: "\f536";
  }
  div.feed a:before, li.feed a:before {
    content: "\f303";
  }
  ul.item-list li {
    .invite-button:not(.group-remove-invite-button) span.icons:before {
      content: "\f502";
    }
    .group-remove-invite-button span.icons:before, &.selected .invite-button span.icons:before {
      content: "\f153";
    }
  }
  .bp-invites-filters ul li #bp-invites-next-page:before, .bp-messages-filters ul li #bp-messages-next-page:before {
    content: "\f345";
  }
  .bp-invites-filters ul li #bp-invites-prev-page:before, .bp-messages-filters ul li #bp-messages-prev-page:before {
    content: "\f341";
  }
  .warn {
    color: #b71717;
  }
  .bp-messages {
    border: 1px solid #ccc;
    margin: 0 0 15px;
    .sitewide-notices {
      display: block;
      margin: 5px;
      padding: .5em;
    }
    &.info {
      margin-bottom: 0;
    }
    &.updated {
      clear: both;
      display: block;
    }
    &.bp-user-messages-feedback {
      border: 0;
    }
  }
  #group-create-body .bp-cover-image-status p.warning {
    background: #0b80a4;
    border: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  .bp-feedback {
    &:not(.custom-homepage-info) {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -o-flex-flow: row nowrap;
      flex-flow: row nowrap;
      align-items: stretch;
    }
    background: #fff;
    color: #807f7f;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #737373;
    margin: 10px 0;
    position: relative;
    p {
      margin: 0;
    }
    span.bp-icon {
      color: #fff;
      display: block;
      font-family: dashicons;
      left: 0;
      margin-right: 10px;
      position: relative;
      padding: 0 .5em;
    }
    .bp-help-text {
      font-style: italic;
    }
    .text {
      font-size: 14px;
      margin: 0;
      padding: .5em 0;
    }
    &.no-icon {
      padding: .5em;
    }
    &.small:before {
      line-height: inherit;
    }
  }
  a[data-bp-close] span:before, button[data-bp-close] span:before {
    font-size: 32px;
  }
  a[data-bp-close], button[data-bp-close] {
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
  }
  .bp-feedback.no-icon {
    a[data-bp-close], button[data-bp-close] {
      top: -6px;
      right: 6px;
    }
  }
  button[data-bp-close]:hover {
    background-color: transparent;
  }
  .bp-feedback {
    p {
      margin: 0;
    }
    .bp-icon {
      font-size: 20px;
      padding: 0 2px;
    }
    &.error .bp-icon, &.help .bp-icon, &.info .bp-icon, &.loading .bp-icon, &.success .bp-icon, &.updated .bp-icon, &.warning .bp-icon {
      display: flex;
      align-items: center;
    }
    &.help .bp-icon, &.info .bp-icon {
      background-color: #0b80a4;
    }
    &.help .bp-icon:before, &.info .bp-icon:before {
      content: "\f348";
    }
    &.error .bp-icon, &.warning .bp-icon {
      background-color: #d33;
    }
    &.error .bp-icon:before, &.warning .bp-icon:before {
      content: "\f534";
    }
    &.loading .bp-icon {
      background-color: #ffd087;
      &:before {
        content: "\f469";
      }
    }
    &.success .bp-icon, &.updated .bp-icon {
      background-color: #8a2;
    }
    &.success .bp-icon:before, &.updated .bp-icon:before {
      content: "\f147";
    }
    &.help .bp-icon:before {
      content: "\f468";
    }
  }
  #pass-strength-result {
    background-color: #eee;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    display: none;
    font-weight: 700;
    margin: 10px 0 10px 0;
    padding: .5em;
    text-align: center;
    width: auto;
    &.show {
      display: block;
    }
    &.mismatch {
      background-color: #333;
      border-color: transparent;
      color: #fff;
    }
    &.bad, &.error {
      background-color: #ffb78c;
      border-color: #ff853c;
      color: #fff;
    }
    &.short {
      background-color: #ffa0a0;
      border-color: #f04040;
      color: #fff;
    }
    &.strong {
      background-color: #66d66e;
      border-color: #438c48;
      color: #fff;
    }
  }
  .standard-form#signup_form div div.error {
    background: #faa;
    color: #a00;
    margin: 0 0 10px 0;
    padding: .5em;
    width: 90%;
  }
  .accept, .reject {
    float: left;
    margin-left: 10px;
  }
  .members-list.grid .bp-ajax-message {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    font-size: 14px;
    left: 2%;
    position: absolute;
    padding: .5em 1em;
    right: 2%;
    top: 30px;
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .bp-invites-content .item-list li .invite-button span.icons:before {
    font-size: 32px;
  }
}

.buddypress.widget {
  .item-options {
    font-size: 12px;
    margin: 0 0 1em;
    padding: 1em 0;
  }
  .bp-login-widget-user-avatar {
    float: left;
  }
  .bp-login-widget-user-links {
    margin-left: 70px;
  }
  ul {
    &.item-list {
      list-style: none;
      margin: 10px 0;
    }
    &.activity-list {
      padding: 0;
      blockquote {
        margin: 0 0 1.5em;
        overflow: visible;
        padding: 0 0 .75em .75em;
      }
      img {
        margin-bottom: .5em;
      }
      li {
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
        .activity-header p {
          margin-bottom: .5em;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .avatar-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    img {
      margin: .5em;
    }
  }
  ul {
    &#friends-list li {
      &:after, &:before {
        content: " ";
        display: table;
      }
    }
    &#groups-list li {
      &:after, &:before {
        content: " ";
        display: table;
      }
    }
    &#members-list li {
      &:after, &:before {
        content: " ";
        display: table;
      }
    }
    &#friends-list li:after, &#groups-list li:after, &#members-list li:after {
      clear: both;
    }
    &#friends-list li, &#groups-list li, &#members-list li {
      margin-bottom: 1em;
    }
    &#friends-list li .item-avatar, &#groups-list li .item-avatar, &#members-list li .item-avatar {
      float: left;
      width: 60px;
    }
    &#friends-list li .item, &#groups-list li .item, &#members-list li .item {
      margin-left: 70px;
    }
  }
}

.buddypress-wrap .buddypress.widget {
  ul {
    &#friends-list, &#groups-list, &#members-list {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -o-flex-flow: column nowrap;
      flex-flow: column nowrap;
    }
    &#friends-list li, &#groups-list li, &#members-list li {
      border: 1px solid #eee;
      align-items: stretch;
      -moz-flex: 1 1 46%;
      -o-flex: 1 1 46%;
      flex: 1 1 46%;
      margin: 2%;
    }
    &#friends-list li .item-avatar, &#groups-list li .item-avatar, &#members-list li .item-avatar {
      padding: .5em;
      text-align: center;
    }
    &#friends-list li .item, &#groups-list li .item, &#members-list li .item {
      padding: .5em;
    }
    &#friends-list li .item .item-meta, &#groups-list li .item .item-meta, &#members-list li .item .item-meta {
      font-size: 12px;
      overflow-wrap: break-word;
    }
  }
  blockquote {
    margin: 0 0 1.5em;
    overflow: visible;
    padding: 0 0 .75em .75em;
  }
}

@media screen and (min-width: 32em) {
  .buddypress-wrap .buddypress.widget ul {
    &#friends-list, &#groups-list, &#members-list {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -o-flex-flow: row wrap;
      flex-flow: row wrap;
    }
  }
}

@media screen and (min-width: 75em) {
  .buddypress-wrap .buddypress.widget ul {
    &#friends-list li, &#groups-list li, &#members-list li {
      -moz-flex: 0 1 20%;
      -o-flex: 0 1 20%;
      flex: 0 1 20%;
    }
  }
}

@media screen and (min-width: 75em) {
  .buddypress-wrap .buddypress.widget ul {
    &#friends-list, &#groups-list, &#members-list {
      margin: 10px -2%;
      width: 100%;
    }
    &#friends-list li, &#groups-list li, &#members-list li {
      -moz-flex: 0 1 auto;
      -o-flex: 0 1 auto;
      flex: 0 1 auto;
      margin: 10px 2% 1%;
      width: 46%;
    }
  }
}

#buddypress-wrap {
  * {
    transition: opacity .1s ease-in-out .1s;
  }
  a {
    &.button, &.generic-button {
      transition: background .1s ease-in-out .1s,color .1s ease-in-out .1s,border-color .1s ease-in-out .1s;
    }
  }
  button {
    transition: background .1s ease-in-out .1s,color .1s ease-in-out .1s,border-color .1s ease-in-out .1s;
  }
  input {
    &[type=reset], &[type=submit] {
      transition: background .1s ease-in-out .1s,color .1s ease-in-out .1s,border-color .1s ease-in-out .1s;
    }
  }
}

.buddypress-wrap {
  a.loading, input.loading {
    animation: loader-pulsate .5s infinite ease-in-out alternate;
    border-color: #aaa;
  }
  a.loading:hover, input.loading:hover {
    color: #777;
  }
}

@keyframes loader-pulsate {
  from {
    border-color: #aaa;
    box-shadow: 0 0 6px #ccc;
  }

  to {
    border-color: #ccc;
    box-shadow: 0 0 6px #f8f8f8;
  }
}


[data-bp-tooltip] {
  position: relative;
  &:after {
    background-color: #fff;
    display: none;
    opacity: 0;
    position: absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    border: 1px solid #737373;
    border-radius: 1px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    content: attr(data-bp-tooltip);
    font-family: "Helvetica Neue",helvetica,arial,san-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.25;
    max-width: 200px;
    padding: 5px 8px;
    pointer-events: none;
    text-shadow: none;
    text-transform: none;
    transition: all 1.5s ease;
    white-space: nowrap;
    word-wrap: break-word;
    z-index: 100000;
  }
  &:active:after, &:focus:after, &:hover:after {
    display: block;
    opacity: 1;
    overflow: visible;
    visibility: visible;
  }
}

[data-bp-tooltip=""] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.bp-tooltip:after {
  left: 50%;
  margin-top: 7px;
  top: 110%;
  transform: translate(-50%, 0);
}

.user-list .bp-tooltip:after, .activity-list .bp-tooltip:after, .activity-meta-action .bp-tooltip:after, .avatar-block .item-avatar .bp-tooltip:after, .notification-actions .bp-tooltip:after, .participants-list .bp-tooltip:after {
  left: 0;
  transform: translate(0, 0);
}

@media screen and (min-width: 46.8em) {
  .user-list .bp-tooltip:after {
    left: auto;
    right: 0;
    transform: translate(0, 0);
  }
}

.bp-invites-content .bp-tooltip:after, .message-metadata .actions .bp-tooltip:after, .single-message-thread-header .actions .bp-tooltip:after {
  left: auto;
  right: 0;
  transform: translate(0, 0);
}

.bp-invites-content #send-invites-editor .bp-tooltip:after {
  left: 0;
  right: auto;
}

#item-body, .single-screen-navs {
  box-sizing: border-box;
}

.grid > li {
  box-sizing: border-box;
  .generic-button a {
    box-sizing: border-box;
  }
  border-bottom: 0;
  padding-bottom: 10px;
  padding-top: 0;
  .list-wrap {
    background: #fafafa;
    border: 1px solid #eee;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    padding-top: 14px;
    .list-title {
      padding: .5em;
    }
    .update {
      color: #737373;
      padding: .5em 2em;
    }
  }
  .item-avatar {
    text-align: center;
    .avatar {
      border-radius: 50%;
      display: inline-block;
      width: 50%;
    }
  }
}

@media screen and (min-width: 24em) {
  .grid {
    &.members-list .list-wrap {
      min-height: 340px;
      .item-block {
        margin: 0 auto;
        min-height: 7rem;
      }
    }
    &.members-group-list .list-wrap .item-block {
      margin: 0 auto;
      min-height: 7rem;
    }
    &.groups-list .list-wrap {
      min-height: 470px;
      .item-block {
        min-height: 6rem;
      }
      .group-desc {
        margin: 15px auto 0;
        min-height: 5em;
        overflow: hidden;
      }
      .group-details, .item-desc, .last-activity, .group-details p, .item-desc p, .last-activity p {
        margin-bottom: 0;
      }
    }
    &.blogs-list .list-wrap {
      min-height: 350px;
      .item-block {
        margin: 0 auto;
        min-height: 7rem;
      }
    }
  }
}

@media screen and (min-width: 24em) {
  .grid {
    > li.item-entry {
      float: left;
      margin: 0;
    }
    &.two > li {
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 24em) and (min-width: 75em) {
  .grid.two > li .list-wrap {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 24em) {
  .grid {
    &.three > li, &.two > li {
      width: 50%;
    }
    &.three > li:nth-child(odd), &.two > li:nth-child(odd) {
      padding-right: 10px;
    }
    &.three > li:nth-child(even), &.two > li:nth-child(even) {
      padding-left: 10px;
    }
    &.three > li .item, &.two > li .item {
      margin: 1rem auto 0;
      width: 80%;
    }
    &.three > li .item .item-title, &.two > li .item .item-title {
      width: auto;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .grid.three > li {
    padding-top: 0;
    width: 33.333333%;
    width: calc(100% / 3);
    &:nth-child(1n+1) {
      padding-left: 5px;
      padding-right: 5px;
    }
    &:nth-child(3n+3) {
      padding-left: 5px;
      padding-right: 0;
    }
    &:nth-child(3n+1) {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .grid.four > li {
    width: 25%;
    &:nth-child(1n+1) {
      padding-left: 5px;
      padding-right: 5px;
    }
    &:nth-child(4n+4) {
      padding-left: 5px;
      padding-right: 0;
    }
    &:nth-child(4n+1) {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}

.buddypress-wrap {
  .grid.bp-list {
    padding-top: 1em;
    > li {
      border-bottom: none;
      .list-wrap {
        padding-bottom: 3em;
      }
      .item-avatar {
        margin: 0;
        text-align: center;
        width: auto;
        img.avatar {
          display: inline-block;
          height: auto;
          width: 50%;
        }
      }
      .item-meta {
        float: none;
        text-align: center;
      }
      .list-title {
        float: none;
        text-align: center;
        font-size: inherit;
        line-height: 1.1;
      }
      .item {
        font-size: 18px;
        left: 0;
        margin: 0 auto;
        text-align: center;
        width: 96%;
        .group-desc {
          float: none;
          width: 96%;
        }
        .item-block {
          float: none;
          width: 96%;
          margin-bottom: 10px;
        }
        .last-activity {
          margin-top: 5px;
        }
        .group-desc {
          clear: none;
        }
        .user-update {
          clear: both;
          text-align: left;
        }
        .activity-read-more a {
          display: inline;
        }
      }
      .action {
        bottom: 5px;
        float: none;
        height: auto;
        left: 0;
        margin: 0;
        padding: 0 5px;
        position: absolute;
        text-align: center;
        top: auto;
        width: 100%;
        .generic-button {
          float: none;
          margin: 5px 0 0;
          text-align: center;
          width: 100%;
          a, button {
            width: 100%;
          }
        }
      }
      .avatar, .item, .item-avatar {
        float: none;
      }
    }
  }
  .blogs-list.grid.two > li .blogs-title {
    min-height: 5em;
  }
  .grid {
    &.four > li .group-desc, &.three > li .group-desc {
      min-height: 8em;
    }
  }
  .blogs-list.grid {
    &.four > li, &.three > li {
      min-height: 350px;
    }
    &.four > li .last-activity, &.three > li .last-activity {
      margin-bottom: 0;
    }
    &.four > li .last-post, &.three > li .last-post {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 46.8em) {
  .buddypress-wrap .grid.bp-list > li .item {
    font-size: 22px;
  }
}

.buddypress:not(.logged-in) .grid {
  &.bp-list .list-wrap {
    padding-bottom: 5px;
  }
  &.groups-list .list-wrap {
    min-height: 430px;
  }
  &.members-list .list-wrap {
    min-height: 300px;
  }
  &.blogs-list .list-wrap {
    min-height: 320px;
  }
}

@media screen and (min-width: 46.8em) {
  .bp-single-vert-nav {
    .bp-navs.vertical {
      overflow: visible;
      ul {
        border-right: 1px solid #d6d6d6;
        border-bottom: 0;
        float: left;
        margin-right: -1px;
        width: 25%;
      }
      li {
        float: none;
        margin-right: 0;
        &.selected a {
          background: #ccc;
          color: #333;
        }
        &:focus, &:hover {
          background: #ccc;
        }
        span {
          background: #d6d6d6;
          border-radius: 10%;
          float: right;
          margin-right: 2px;
        }
        &:hover span {
          border-color: #eaeaea;
        }
      }
      &.tabbed-links li.selected a {
        padding-left: 0;
      }
    }
    .bp-wrap {
      margin-bottom: 15px;
      .group-nav-tabs.groups-nav ul li, .user-nav-tabs.users-nav ul li {
        left: 1px;
        position: relative;
      }
    }
    .item-body:not(#group-create-body) {
      background: #fff;
      border-left: 1px solid #d6d6d6;
      float: right;
      margin: 0;
      min-height: 400px;
      padding: 0 0 0 1em;
      width: calc(75% + 1px);
      #subnav:not(.tabbed-links) {
        background: #eaeaea;
        margin: 0 0 0 -5px;
        width: auto;
        li {
          font-size: 16px;
          margin: 10px 0;
          a {
            border-right: 1px solid #ccc;
            padding: 0 .5em;
            &:focus, &:hover {
              background: 0 0;
            }
          }
          &.current a {
            background: 0 0;
            color: #333;
            text-decoration: underline;
          }
          &:last-child a {
            border: none;
          }
        }
      }
    }
  }
  .bp-dir-vert-nav {
    .dir-navs {
      float: left;
      left: 1px;
      position: relative;
      width: 20%;
      ul li {
        float: none;
        overflow: hidden;
        width: auto;
        &.selected {
          border: 1px solid #eee;
          a {
            background: #555;
            color: #fff;
            span {
              background: #eaeaea;
              border-color: #ccc;
              color: #5087e5;
            }
          }
        }
        a {
          &:focus, &:hover {
            background: #ccc;
            color: #333;
          }
          &:focus span, &:hover span {
            border: 1px solid #555;
          }
        }
      }
    }
    .screen-content {
      border-left: 1px solid #d6d6d6;
      margin-left: 20%;
      overflow: hidden;
      padding: 0 0 2em 1em;
      .subnav-filters {
        margin-top: 0;
      }
    }
  }
  .buddypress-wrap.bp-vertical-navs {
    .dir-navs {
      &.activity-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      &.groups-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      &.members-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      &.sites-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
    }
    .main-navs {
      &.group-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
      &.user-nav-tabs ul li:not(.selected) a {
        &:focus, &:hover {
          background: 0 0;
        }
      }
    }
    .dir-navs {
      &.activity-nav-tabs ul li.selected, &.groups-nav-tabs ul li.selected, &.members-nav-tabs ul li.selected, &.sites-nav-tabs ul li.selected {
        background: 0 0;
        border: 1px solid #d6d6d6;
        border-right-color: #fff;
      }
    }
    .main-navs {
      &.group-nav-tabs ul li.selected, &.user-nav-tabs ul li.selected {
        background: 0 0;
        border: 1px solid #d6d6d6;
        border-right-color: #fff;
      }
    }
    .dir-navs {
      &.activity-nav-tabs ul li.selected a, &.groups-nav-tabs ul li.selected a, &.members-nav-tabs ul li.selected a, &.sites-nav-tabs ul li.selected a {
        background: 0 0;
        color: #333;
        font-weight: 600;
      }
    }
    .main-navs {
      &.group-nav-tabs ul li.selected a, &.user-nav-tabs ul li.selected a {
        background: 0 0;
        color: #333;
        font-weight: 600;
      }
    }
    .dir-navs {
      &.activity-nav-tabs ul li.selected a span, &.groups-nav-tabs ul li.selected a span, &.members-nav-tabs ul li.selected a span, &.sites-nav-tabs ul li.selected a span {
        background: #555;
        border: 1px solid #d6d6d6;
        color: #fff;
      }
    }
    .main-navs {
      &.group-nav-tabs ul li.selected a span, &.user-nav-tabs ul li.selected a span {
        background: #555;
        border: 1px solid #d6d6d6;
        color: #fff;
      }
    }
  }
}